form {
  background: white;
  border: 1px solid #ccc;
}

tr {
  line-height: 0;
}

textarea {
  margin: 1px;
  display: block;
  border: 1px solid #a9a9a9;
  width: 99%;
  height: 50px;
}


a:hover,
a:focus,
a:visited {
  text-decoration: none;
  /* color: transparent; */
  outline: 0 auto -webkit-focus-ring-color;
}

#parent1,
#parent2 {
  width:100px;
}

#content .section {
  background: #e9eff7;
  margin: 1px;
  border-left: 1px solid #e9eff7;
  border-right: 1px solid #e9eff7;
}
.container {
  background: #fff;
  border-left: 1px solid #b8cbde;
  border-right: 1px solid #b8cbde;
  border-top: 1px solid #c2cedb;
  white-space: nowrap;
  overflow: hidden;
}

.footer {
  background: white;
    height: 1px;
    border-top: 1px solid #a5b3c5;
    border-bottom: 2px solid #f3f8fa;
}

.container h2
 {
  font-size: 16px;
  font-weight: bold;
  background: #d2dfed;
  border: 1px solid #cccccc;
  padding-left: 2px;
}

.maritalStatus fieldset {
  line-height: 1;
  padding: 0px;
  margin: -1px;
}

.maritalStatus input[type=checkbox] {
  vertical-align: middle;
}

 /* .familyComp */
 #edit-familycomp {
  float: left;
  border: 1px solid #cccccc;
  margin: 10px 0 0 1px;
  width: 64%;
}

#edit-textarea {
  display: inline-block;
}

#edit-parents legend,
#edit-siblings legend,
#edit-children legend {
  display: inline;
  float: left;
  width: 75px;
}

#edit-parents .fieldset-wrapper .js-form-item-parent1,
#edit-parents .fieldset-wrapper .js-form-item-parent2 {
  display: inline-block;
  padding-left: 16%;
  margin: 0;
}

#edit-name .fieldset-wrapper input,
#edit-occupation .fieldset-wrapper input,
#edit-education .fieldset-wrapper input,
#edit-health .fieldset-wrapper input {
  float: left;
  width: 35%;
  margin: 0 10px;
}

.siblings legend .fieldset-legend,
.children legend .fieldset-legend {
  position: absolute;
  display: inline-block;
  width: 150px;
  left: 300px;
  margin-top: -33px;
}

.siblings .fieldset-wrapper .form-item-number,
.children .fieldset-wrapper .form-item-number {
  display: inline-block;
  width: 140px;
}

.siblings .fieldset-wrapper .form-item-number label,
.children .fieldset-wrapper .form-item-number label {
  display: inline;
}

.siblings .form-item-list,
.children .form-item-list {
  display: inline;
}

.siblings .form-item-list input,
.children .form-item-list input {
  width: 65%;
  margin-left: 25px;
}

#edit-names-ages #edit-number,
#edit-names-ages #edit-number--2,
#edit-children #edit-number--3,
#edit-children #edit-number--4 {
  width: 20px;
}

#edit-siblings .form-type-checkbox,
#edit-children .form-type-checkbox {
  display: inline;
}

#edit-checkboxes--wrapper legend {
  display: inline;
  float: left;
}

#edit-checkboxes .form-type-checkbox {
  display: inline;
}

/* .maritalStatus */
 #edit-maritalstatus {
  float: right;
  margin: 10px 15px 0 0;
  border: 1px solid #cccccc;
  width: 33%;
  line-height: 1.4;
}
