form {
  background: white;
  border: 1px solid #ccc;
}

tr {
  line-height: 0;
}

textarea {
  margin: 1px;
  display: block;
  border: 1px solid #a9a9a9;
  width: 99%;
  height: 50px;
}


a:hover,
a:focus,
a:visited {
  text-decoration: none;
  /* color: transparent; */
  outline: 0 auto -webkit-focus-ring-color;
}

#parent1,
#parent2 {
  width:100px;
}

#content .section {
  background: #e9eff7;
  margin: 1px;
  border-left: 1px solid #e9eff7;
  border-right: 1px solid #e9eff7;
}
.container {
  background: #fff;
  border-left: 1px solid #b8cbde;
  border-right: 1px solid #b8cbde;
  border-top: 1px solid #c2cedb;
  white-space: nowrap;
  overflow: hidden;
}

.footer {
  background: white;
    height: 1px;
    border-top: 1px solid #a5b3c5;
    border-bottom: 2px solid #f3f8fa;
}

.container h2
 {
  font-size: 16px;
  font-weight: bold;
  background: #d2dfed;
  border: 1px solid #cccccc;
  padding-left: 2px;
}

.maritalStatus fieldset {
  line-height: 1;
  padding: 0px;
  margin: -1px;
}

.maritalStatus input[type=checkbox] {
  vertical-align: middle;
}

 /* .familyComp */
 #edit-familycomp {
  float: left;
  border: 1px solid #cccccc;
  margin: 10px 0 0 1px;
  width: 64%;
}

/* .maritalStatus */
 #edit-maritalstatus {
  float: right;
  margin: 10px 15px 0 0;
  border: 1px solid #cccccc;
  width: 33%;
  line-height: 1.4;
}

#edit-textarea {
  display: inline-block;
}

#edit-parents legend,
#edit-siblings legend,
#edit-children legend {
  display: inline;
  float: left;
  width: 75px;
}

#edit-parents .fieldset-wrapper .js-form-item-parent1,
#edit-parents .fieldset-wrapper .js-form-item-parent2 {
  display: inline-block;
  padding-left: 16%;
  margin: 0;
}

.js-form-item.form-item.js-form-type-textfield.form-type-textfield.js-form-item-parent-1.form-item-parent-1.form-no-label,
.js-form-item.form-item.js-form-type-textfield.form-type-textfield.js-form-item-parent-2.form-item-parent-2.form-no-label {
  display: inline;
}

#edit-name .fieldset-wrapper input,
#edit-occupation .fieldset-wrapper input,
#edit-education .fieldset-wrapper input,
#edit-health .fieldset-wrapper input {
  float: left;
  width: 35%;
  margin: 0 10px;
}

#edit-names-ages legend,
#edit-names-ages--2 legend {
  position: absolute;
  display: inline-block;
  width: 150px;
  left: 300px;
  margin-top: -33px;
}

#edit-names-ages .fieldset-wrapper label,
#edit-names-ages--2 .fieldset-wrapper label {
  display: inline;
}

#edit-names-ages div div:nth-child(1),
#edit-names-ages div div:nth-child(3),
#edit-names-ages--2 div div:nth-child(1),
#edit-names-ages--2 div div:nth-child(3) {
  display: inline-block;
  width: 140px;
}

#edit-names-ages div div:nth-child(2),
#edit-names-ages div div:nth-child(4),
#edit-names-ages--2 div div:nth-child(2),
#edit-names-ages--2 div div:nth-child(4) {
  display: inline;
}

#edit-names-ages div div:nth-child(2) input,
#edit-names-ages div div:nth-child(4) input,
#edit-names-ages--2 div div:nth-child(2) input,
#edit-names-ages--2 div div:nth-child(4) input {
  width: 65%;
  margin-left: 25px;
}

#edit-names-ages #edit-number,
#edit-names-ages #edit-number--2,
#edit-children #edit-number--3,
#edit-children #edit-number--4 {
  width: 20px;
}

#edit-siblings .form-type-checkbox,
#edit-children .form-type-checkbox {
  display: inline;
}




/* #edit-occupation .js-form-item.form-item.js-form-type-textfield.form-type-textfield.js-form-item-parent-1.form-item-parent-1.form-no-label,
#edit-occupation .js-form-item.form-item.js-form-type-textfield.form-type-textfield.js-form-item-parent-2.form-item-parent-2.form-no-label {
  display: inline;
} */

.container .numbers {
  width: 20px;
  border: 2px solid #cccccc;
  margin: 0 2px;
}

.sibChild {
  width: 97%;
}

.title {
  background: #d2dfed;
  text-align: left;
}

.familyComp table:nth-child(1) input {
  width: 95%;
}

.familyComp table:nth-child(1) tbody tr.title th:nth-child(2),
.familyComp table:nth-child(1) tbody tr.title th:nth-child(3) {
  padding-left: 32px;
}

.familyComp table:nth-child(2) tbody tr.title th:nth-child(2),
.familyComp table:nth-child(3) tbody tr.title th:nth-child(2) {
  line-height: 1.5;
  text-align: center;
}

.familyComp  table:nth-child(1) tbody tr:nth-child(1) th {
  line-height: normal;
  text-align: center;
}

.familyComp table:nth-child(1) tr:nth-child(3) > td:nth-child(1) {
  width: 29%;
}

.familyComp table:nth-child(2) tbody tr:nth-child(2) td:nth-child(1),
.familyComp table:nth-child(3) tbody tr:nth-child(2) td:nth-child(1) {
  width: 30%;
}
